body{
    height: 100vh;
    background-image:  url('https://images.unsplash.com/photo-1533912352517-92dd08116ea4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1078&q=80');
    background-color: rgb(204, 255, 209);

    background-position: center
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    overflow-x: hidden;

}