body{
    height: 100vh;

    background-color: rgb(64, 207, 167);

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    overflow-x: hidden;

}